
body {
    background-color: lightblue;
}

.grid {
    margin: auto;
    margin-top: 50px;
    display: grid;
    height: 960px;
    width: 960px;
    outline: 1px solid;
}

.column {
    display: flex;
}

.row {
    flex: 1;
    outline: 1px solid;
}

#btnContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}

#btnNewGrid {
    margin-right: 30px;
    border-radius: 5px;
    background-color: bisque;

}

#btnRandomColor {
    margin-right: 30px;
    border-radius: 5px;
    background-color: bisque;
}

#btnBlack {
    border-radius: 5px;
    background-color: bisque;
}