
body {
    background-color: lightblue;
    display: flex;
    
}

.grid {
    margin: auto;
    margin-top: 50px;
    display: grid;
    height: 660px;
    width: 660px;
    outline: 1px solid;
}

.column {
    display: flex;
}

.row {
    flex: 1;
    outline: 1px solid;
}

#btnContainer {
    display: flex;
    flex-direction: column;
    margin: 40px;
    margin-top: 200px;
    justify-content: space-between;
    width: 150px;
    height: 300px;
    
}

.button {
    border-radius: 5px;
    background-color: bisque;
    width: 100px;
}

